body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.generator-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
}

.controls {
    margin-bottom: 20px;
}

.controls label {
    margin-right: 10px;
}

input[type="color"], select {
    margin: 0 10px;
}

.preview {
    height: 20%;
    width: 20%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.background-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: -1; /* Lower z-index to push it to the background */
}



textarea {
    width: 100%;
    height: 25vh;
    
    background-color: rgb(47, 42, 42);
    font: 700;
    color: rgb(239, 142, 16);
    padding: 20px;
    border: transparent;
    
}


#gradientType, #direction-linear, #direction-radial, #direction-conic {
    position: relative;
    top: -5px;

}

#randombutton {
     position: relative;
    top: -7px;
    padding: 2px 10px;

}
#randombutton svg {
    margin: 0 auto;
}

#cssOutput, #sassOutput, #lessOutput {
    font-size: 1.5rem;
}


#col {
    height: 5vh;
}

main {
    margin: 5px;
    
}




    ul {
      list-style: disc ;
      padding-left: 20px;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }

    #closeButton {
         width: 50px; /* Adjust the width as needed */
  height: 50px;
  position: absolute;
  top: 2px; /* Adjust the top position as needed */
  right: 2px; /* Adjust the right position as needed */
/* Example background color */

  border: none;
  border-radius: 50%;
  cursor: pointer;

    }