body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.generator-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
}

.controls {
    margin-bottom: 20px;
}

.controls label {
    margin-right: 10px;
}

input[type="color"], select {
    margin: 0 10px;
}

.preview {
    height: 20%;
    width: 20%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.background-div {
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0; bottom: 0;
  width: 100%;
  height: 300vh;
  
  z-index: -1; /* Lower z-index to push it to the background */
  overflow-y: auto;
}



textarea {
    width: 100%;
    height: 25vh;
    
    background-color: rgb(47, 42, 42);
    font: 700;
    color: rgb(239, 142, 16);
    padding: 20px;
    border: transparent;
    
}


#gradientType, #direction-linear, #direction-radial, #direction-conic {
    position: relative;
    top: -5px;

}

#randombutton {
     position: relative;
    top: -7px;
    padding: 2px 10px;

}
#randombutton svg {
    margin: 0 auto;
}

#cssOutput, #sassOutput, #lessOutput {
    font-size: 1.5rem;
}


#col {
    height: 5vh;
}

main {
    margin: 5px;
    
}




    ul {
      list-style: disc ;
      padding-left: 20px;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }

    #closeButton {
         width: 50px; /* Adjust the width as needed */
  height: 50px;
  position: absolute;
  top: 2px; /* Adjust the top position as needed */
  right: 2px; /* Adjust the right position as needed */
/* Example background color */

  border: none;
  border-radius: 50%;
  cursor: pointer;

    }
      #supercloseButton {
         width: 150px; /* Adjust the width as needed */
  height: 150px;
  position: absolute;
  top: 2px; /* Adjust the top position as needed */
  right: 2px; /* Adjust the right position as needed */
/* Example background color */

  border: none;
  border-radius: 50%;
  cursor: pointer;

    }

    #supercloseButton2 {
         width: 150px; /* Adjust the width as needed */
  height: 150px;
  position: absolute;
  top: 2px; /* Adjust the top position as needed */
  right: 2px; /* Adjust the right position as needed */
/* Example background color */

  border: none;
  border-radius: 50%;
  cursor: pointer;

    }

    #buildul {
        height: 30vh;
        overflow: auto;
    }


    #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-radius: 50%;
  

  
}


#iphone {
    position: absolute;
    top: 120vh;
    z-index: 99;
    height: 110vh;
    width: 80%;
    overflow: hidden;
    
    
}

.card.card-body.iphone {
   padding: 0%;
   
}


.gradient-preview {

 height: 872px;
    width: 420px;
  
  
  
  overflow: hidden;
}

.gradient-block {
height: 872px;
    width: 420px;
   
  background-image: linear-gradient(to right, red, blue); /* Initial gradient */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
  animation: rotate 5s infinite alternate;
 
  perspective: 300px;
  border: 5px solid rgba(0, 0, 0, 0.393);
  display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  

  
}


@keyframes rotate {
 0% { transform: rotateY(0deg); }
  100% { transform: rotateY(30deg); }
}


#apple {
   height: 33%;
   width: 33%;
    
}



#ipad {
    position: absolute;
    top: 120vh;
    z-index: 99;
    height: 110vh;
    width: 80%;
    overflow: hidden;
    
    
}

.card.card-body.ipad {
   padding: 0%;
   
}


.gradient-preview-ipad {

 height: 1080px;
    width: 820px;
  
  
  
  overflow: hidden;
}

.gradient-block-ipad {
height: 1080px;
    width: 820px;
   
  background-image: linear-gradient(to right, red, blue); /* Initial gradient */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
  animation: rotate 5s infinite alternate;
 
  perspective: 300px;
  border: 5px solid rgba(0, 0, 0, 0.393);
  display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  

  
}


@keyframes rotate {
 0% { transform: rotateY(0deg); }
  100% { transform: rotateY(30deg); }
}



